<%- include("../partials/header.ejs") %>
<body>
    <div class="container countertop">
        <div class="row">
            <div class="col">
                <img src="<%= data.img %>" height=500 width=500></img>
            </div>
            <div class="col">
                <div class="tab shadow-lg border-dark">
                    <button class="tablinks" onclick="changeTab(event, 'details')"id="defaultOpen">Dish Details</button>
                    <button class="tablinks" onclick="changeTab(event, 'ingredients')">Base Ingredients</button>
                    <button class="tablinks" onclick="changeTab(event, 'quantity')">Quantity</button>
                    <button class="tablinks" onclick="changeTab(event, 'toppings')">Toppings</button>
                </div>

                <div id="details" class="tabcontent shadow-lg border-dark">
                    <span onclick="this.parentElement.style.display='none'" class="topright">&times</span>
                    <h3>Edit Details</h3>
                    <p>Rename or edit the descriptions to your liking!</p>
                    <form action="/diylifestyle/<%= data.id %>?_method=PUT" method="POST">
                        <div>
                            <label for="name"><strong>Name:</strong></label> <br>
                            <input type="text" name="name" id="name" placeholder="anything creative" value="<%=data.name%>" required /> <br><br>
                        </div>
                        <div>
                            <label for="description"><strong>Description:</strong></label> <br>
                            <input type="text" size=40 name="description" id="description" placeholder="anything creative" value="<%=data.description%>" required/> <br><br>
                        </div>
                        <div>
                            <label for="qty"><strong>Quantity:</strong></label> <br>             
                            <input type="number" min="0" value="<%= data.qty %>" name="qty" id="qty" required /> 
                        </div>
                        <input type="submit" class="btn btn-secondary my-2" value="Update Product" />
                    </form>
                </div>

                <div id="ingredients" class="tabcontent shadow-lg border-dark">
                    <span onclick="this.parentElement.style.display='none'" class="topright">&times</span>
                    <h3>Base Ingredients</h3>
                    <p>Choose your base ingredients for the dish</p>
                    <div class="slidecontainer mt-3">
                        <input type="range" min="1" max="10" value="5" class="slider" id="myRange">
                        <p><%= data.ingredients[0] %>: <span id="demo"></span></p>
                    </div>
                    <div class="slidecontainer mt-3">
                        <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                        <p>Value: <span id="demo"></span></p>
                    </div>
                    <div class="slidecontainer mt-3">
                        <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                        <p>Value: <span id="demo"></span></p>
                    </div>
                </div>
                  
                <div id="quantity" class="tabcontent shadow-lg border-dark">
                    <span onclick="this.parentElement.style.display='none'" class="topright">&times</span>
                    <h3>Quantity</h3>
                    <p>Choose your quantity for the dish</p> 
                    <div class="slidecontainer mt-3">
                        <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                        <p>Value: <span id="demo"></span></p>
                    </div>
                    <div class="slidecontainer mt-3">
                        <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                        <p>Value: <span id="demo"></span></p>
                    </div>
                    <div class="slidecontainer mt-3">
                        <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                        <p>Value: <span id="demo"></span></p>
                    </div>
                </div>
                  
                <div id="toppings" class="tabcontent shadow-lg border-dark">
                    <span onclick="this.parentElement.style.display='none'" class="topright">&times</span>
                    <h3>Toppings</h3>
                    <p>Pick your final touches!</p>
                    <div class="slidecontainer mt-3">
                        <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                        <p>Value: <span id="demo"></span></p>
                    </div>
                    <div class="slidecontainer mt-3">
                        <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                        <p>Value: <span id="demo"></span></p>
                    </div>
                    <div class="slidecontainer mt-3">
                        <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                        <p>Value: <span id="demo"></span></p>
                    </div>
                </div>
            </div>
        </div>
        <a href="/diylifestyle/<%= data.id %>" class="btn btn-warning my-2">Back to Details</a>
    </div>  

    </div>
</body>
<script type="text/javascript" src="/app.js"></script>
</html>