<%- include("../partials/header.ejs") %>
<body class="orangeBackground">
    <div class="container countertop">
        <div class="row">
            <div class="col">
                <img class= "imgSize" src="<%= data.img %>" height=550 width=550></img>
            </div>
            <div class="col">
            <div class="mb-3"><strong>Calories Count: <%= data.calories %> kcal</strong></div>
                <div class="tab shadow-lg">
                    <button class="tablinks" onclick="changeTab(event, 'details')"id="defaultOpen">Details</button>
                    <button class="tablinks" onclick="changeTab(event, 'ingredients')">Ingredients</button>
                    <button class="tablinks" onclick="changeTab(event, 'toppings')">Toppings</button>
                    <button class="tablinks" onclick="changeTab(event, 'nutrients')">Nutrients</button>
                    <button class="tablinks" onclick="changeTab(event, 'vitamins')">Vitamins</button>
                </div>

                <div id="details" class="tabcontent shadow-lg">
                    <span onclick="this.parentElement.style.display='none'" class="topright">&times</span>
                    <h3>Edit Dish Details</h3>
                    <p>Rename or edit the descriptions to your liking!</p>
                    <form action="/diylifestyle/<%= data.id %>?_method=PUT" method="POST">
                        <div>
                            <label for="name"><strong>Name:</strong></label> <br>
                            <input type="text" name="name" id="name" placeholder="anything creative" value="<%=data.name%>" required /> <br><br>
                        </div>
                        <div>
                            <label for="description"><strong>Description:</strong></label> <br>
                            <input type="text" size=30 name="description" id="description" placeholder="anything creative" value="<%=data.description%>" required/> <br><br>
                        </div>
                        <div>
                            <label for="qty"><strong>Quantity:</strong></label> <br>             
                            <input type="number" min="0" value="<%= data.qty %>" name="qty" id="qty" required />  
                        </div>
                        <input type="submit" class="btn btn-secondary my-2" value="Update Product" />
                    </form>
                </div>

                <div id="ingredients" class="tabcontent shadow-lg">
                    <span onclick="this.parentElement.style.display='none'" class="topright">&times</span>
                    <h3>Main Ingredients</h3>
                    <p>Number of servings for the main ingredients</p>
                    <% for (let i=0;i< data.ingredients.length; i++){ %>
                        <div class="slidecontainer mt-3">
                            <input type="range" min="0" max="10" value="5" class="slider" id="myRange">
                            <p><%= data.ingredients[i] %>: <span id="demo"></span></p>
                        </div>
                        <%} %>
                </div>
                  
                <div id="toppings" class="tabcontent shadow-lg">
                    <span onclick="this.parentElement.style.display='none'" class="topright">&times</span>
                    <h3>Toppings</h3>
                    <p>Number of servings for the toppings</p>
                    <% for (let i=0;i< data.toppings.length; i++){ %>
                        <div class="slidecontainer mt-3">
                            <input type="range" min="0" max="10" value="5" class="slider" id="myRange">
                            <p><%= data.toppings[i] %>: <span id="demo"></span></p>
                        </div>
                        <%} %>
                </div>

                <div id="nutrients" class="tabcontent shadow-lg">
                    <span onclick="this.parentElement.style.display='none'" class="topright">&times</span>
                    <h3>Nutrients</h3>
                    <p>Choose your quantity for the dish</p> 
                    <table>
                        <tr class="bg-warning bg-opacity-50 text-center">
                            <th>Nutrition</th>
                            <th>Amount per serving</th>
                        </tr>
                        <tr>
                            <% for(let i=0;i<Object.values(data.nutrition).length;i++){ %>
                                <tr>
                                    <td><strong><%= Object.keys(data.nutrition)[i] %></strong></td>
                                    <td style="font-family:monospace;"><strong><%= Object.values(data.nutrition)[i] %></strong></td>
                                </tr>                                 
                            <% }; %>
                        </tr>
                    </table><br>
                </div>

                <div id="vitamins" class="tabcontent shadow-lg">
                    <span onclick="this.parentElement.style.display='none'" class="topright">&times</span>
                    <h3>Vitamins</h3>
                    <p>Choose your quantity for the dish</p> 
                    <table>
                        <tr class="bg-warning bg-opacity-50 text-center">
                            <th>Vitamins</th>
                            <th>Amount per serving</th>
                        </tr>
                        <tr>
                            <% for(let i=0;i<Object.values(data.vitamins).length;i++){ %>
                                <tr>
                                    <td><strong><%= Object.keys(data.vitamins)[i].toUpperCase() %></strong></td>
                                    <td style="font-family:monospace;"><strong><%= Object.values(data.vitamins)[i] %></strong></td>
                                </tr>                                 
                            <% }; %>
                        </tr>
                    </table><br>
                </div>
            </div>
        </div>
        <a href="/diylifestyle/<%= data.id %>" class="btn btn-warning my-2">BACK</a>
    </div>  

    </div>
    <script type="text/javascript" src="/navbar.js"></script>
    <script type="text/javascript" src="/app.js"></script>
</body>

</html>