<%- include("../partials/header.ejs") %>
<body class="background">
    <section class= "title-section" id="title">
        <p class="mainfont" style="color: white;">
            Design your <br> own Food & <br> Exercise Regime
            <button type="button" class="btn btn-dark btn-lg download-button"><i class="fab fa-apple"></i> Download</button>
            <button type="button" class="btn btn-outline-light btn-lg download-button"><i class="fab fa-google-play"></i> Download</button>
        </p>
    </section>
    <%- include("../partials/about.ejs") %>
    <%- include("../partials/testimonials.ejs") %>
    <%- include("../partials/features.ejs") %>
    <%- include("../partials/pricing.ejs") %>
    <%- include("../partials/contact.ejs") %>
    <%- include("../partials/faq.ejs") %>
    <%- include("../partials/footer.ejs") %>
    <script type="text/javascript" src="/navbar.js"></script>
</body>
</html>
