<%- include("../partials/header.ejs") %>
<body class="orange-background">
    <main>
        <%- include("../partials/alert.ejs") %>
        <a href="/diylifestyle/new" class="btn btn-secondary mb-5">ADD NEW DISH</a>
        <div class="container">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-5 allProducts">
                <% data.forEach ( (ele) => { %>
                <div class="col animating" style="opacity: 1; top: 0px; left: 0px; transform: matrix(1, 0, 0, 1, 0, 0);">
                    <div class="card shadow-lg mb-3" style="height: 33rem;">
                        <div class="card-body">
                            <a href="/diylifestyle/<%= ele.id %>"><img src="<%= ele.img %>" alt="diylifestyle" height="245px"/></a>
                            <h5 class="card-title"><a href="/diylifestyle/<%= ele.id %>" style="text-decoration: none;"><%= ele.name %></h5></a>
                            <ul class="list-group list-group-flush shadow-lg">
                                <li class="list-group-item">Price: S$<%= Number.parseFloat(ele.price).toFixed(2) %></li>
                                <% if (ele.qty > 0) { %>
                                <li class="list-group-item">Quantity Selected: <%= ele.qty %> </li>                                             
                                <li class="list-group-item"><button id="/diylifestyle/<%= ele.id %>" class="btn btn-secondary buyItemBtn">ADD TO CALENDAR</button></li>
                                <% } else { %>
                                <li class="list-group-item" style="color: red;">Sold Out!</li>  
                                <% } %>
                                <li class="list-group-item">
                                    <form action="/diylifestyle/<%= ele.id %>?_method=DELETE" method="POST">
                                        <button type="submit" class="btn btn-warning my-2" value="DELETE"/>DELETE</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <% }); %>
            </div>
        </div>
    </main>
    <script type="text/javascript" src="/app.js"></script>
    <script type="text/javascript" src="/navbar.js"></script>
</body>
</html>