<%- include("../partials/header.ejs") %>
<body class="orange-background">
        <div class="container tablecloth">
            <div class="row">
                <div class="col">
                    <img class= "imgSize" src="<%= data.img %>" height=550 width=550></img>
                </div>
                <div class="col py-4">
                    <div class="card shadow-lg mb-3 allProducts">
                        <h1><%= data.name %></h1>
                        <div><%= data.description %></div> <br>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Price: S$<%= Number.parseFloat(data.price).toFixed(2) %></li>
                            <% if (data.qty > 0) { %>
                                <li class="list-group-item">Quantity Selected: <%= data.qty %> </li>                                             
                                <li class="list-group-item">Calories: <%= data.calories %> kcal</li>
                            <% } else { %>
                                <li class="list-group-item" style="color: red;">Sold Out!</li>  
                            <% } %>
                                <li class="list-group-item"><a href="/diylifestyle/<%= data.id %>/edit" class="btn btn-secondary my-2">EDIT DISH</a></li>
                        </ul>
                        <form action="/diylifestyle/<%= data.id %>?_method=DELETE" method="POST">
                            <button type="submit" class="btn btn-warning my-2" value="DELETE"/>DELETE DISH</button>
                        </form>
                        <%- include("../partials/alert.ejs") %>
                    </div>
                </div>
            </div>
            <a href="/diylifestyle/index" class="btn btn-warning my-2">BACK</a>
        </div>
        <script type="text/javascript" src="/app.js"></script>
        <script type="text/javascript" src="/navbar.js"></script>
</body>
</html>